<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h3>Submitted Information</h3>
        Name: <%= user.name %><br>
        Location: <%= user.location %><br>
        Language: <%= user.language %><br>
        Comment: <%= user.comment %>

    </body>
</html>