<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login/Registration</title>
    </head>
    <body>
        <% if(typeof(error) != 'undefined') { %>
            <%= error %>
        <% } %>
        <% if(typeof(errors) != 'undefined' ) { %>
            <% for (var x in errors) { %>
                <h3><%= errors[x].message %></h3>
            <% } %>
        <% } %>
        <h3>Login</h3>
        <form action = "/login" method = "post">
            <label for "">Email:</label><input type = "text" name = "email"><br>
            <label for "">Password:</label><input type = "text" name = "password"><br>
            <input type = "submit" value = "login">
        </form>
        <hr>
        <h3>Register</h3>
        <form action = "/register" method = "post">
            <label for "">Email:</label><input type = "text" name = "email"><br>
            <label for "">First Name:</label><input type = "text" name = "first_name"><br>
            <label for "">Last Name:</label><input type = "text" name = "last_name"><br>
            <label for "">Password:</label><input type = "password" name = "password"><br>
            <label for "">Birthday:</label><input type = "date" name = "birthday"><br>
            <input type = "submit" value = "Register!">
        </form>
    </body>
</html>