<html>
        <head>
            <meta charset="UTF-8">
            <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Secrets</title>
        </head>
        <body>
            <h2>Dojo Secrets</h2><a href = "/">Logout</a><br>
            <% users.forEach(function(user){ %>
                <% for (let secret of user._secrets) { %>
                    <a href = "/secret/<%= secret._id %>">secret</a>:<%= secret.secret %>

                    <% if(user.email == x){ %>
                        <form action="/delete/<%= secret._id %>" method='post'>
                            <input type="submit" value="Delete">
                          </form>
                      <% } else{ %>  
                        <br>
                     <% } %>
                <% } %>
            <% }); %>
            <form action = "/secrets" method = "post">
                <label for "">Add Secret:</label><input type = "text" name = "secret">
                <input type="submit" value = "submit">
            </form>
        </body>
</html>